{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": ["flowtype"],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "import/prefer-default-export": ["off"],
    "max-len": ["error", {
      "ignoreUrls": true,
      "ignoreComments": true,
      "ignoreStrings": true,
      "ignorePattern": "<p[^>]*>.*?</p>",
       "code": 100
    }],
    "consistent-return": "off",
    "camelcase": "off"
  }
}